<div class="modal-dialog" >
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title" ng-bind-html="title"></h4>
        </div>

        <div class=" "modal-body row-fluid clearfix">
            <div ng-repeat="chapter in chapters" ng-if="chapter.visible"
                 class = "chapter span6 animate-if"
                 ng-class="{'ng-enter':chapter.ngenter ,
                'ng-enter-active':chapter.ngenteractive, 'ng-leave':chapter.ngleave ,
                'ng-leave-active':chapter.ngleaveactive}">
                <button class="leftnav" ng-click="prev($index)" ng-disabled="disableButton($index)" ng-if="$even">
                    <img src = '/pgmaster/mod/book/pix/right.png' />
                </button>
                <button class="rightnav" ng-click="next($index)" ng-disabled="disableButton($index)" ng-if="$odd">
                    <img src = '/pgmaster/mod/book/pix/left.png' />
                </button>
                <h3 class="modal-title">{{chapter.title}}</h3>
                <div class="content" ng-if="chapter.visible" ng-bind-html="chapter.content" ></div>
            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->